# System-specific files (macOS)
.DS_Store

# System-specific files (Linux/UNIX)
*.swp          # Swap files for vi(m)
*~             # Temporary file backups
.nfs*          # NFS temporary files

# macOS and Linux Trash folder which might appear when deleting files
.Trash

# General temporary files
*.bak          # Backup files
*.tmp          # Temporary files

# Editor-specific files
*.sublime-project
*.sublime-workspace
.idea/         # IntelliJ IDEA project files
.vscode/       # VS Code workspace settings
*.code-workspace
*.log          # Log files
*.mdb		   # Something Zed idk

# Git-specific
.gitconfig     # Exclude specific user git configuration files

# Other irrelevant or local files
node_modules/  # If you're using any node packages in your dotfiles

.config/iterm2
.config/zed/embeddings/
.config/zed/prompts/
.config/zed/conversations/
.config/fish/functions/_fzf*
.config/fish/functions/fzf_configure_bindings.fish
